/* carousel style */
.carousel {
  --items: 28;
  --carousel-duration: 110s;
  height: 550px;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-right: 50px;
}

/* stops if hovered */
.carousel:hover > .card {
  animation-play-state: paused;
}

.carousel > .card {
  position: absolute;
  top: 0;
  left: calc(100% + 2rem);
  width: 280px;
  height: 450px;
  animation-name: marquee;
  animation-duration: var(--carousel-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(
    var(--carousel-duration) / var(--items) * var(--i) * -1
  );
  z-index: 1;
}

/* carousel image */
.carousel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* card title */
.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

/* marquee */
@keyframes marquee {
  100% {
    transform: translateX(
      calc(var(--items) * (280px + 2rem) * -1)
    );
  }
}

.carousel-card {
  transition:
    transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.35s ease-out;
  will-change: transform;
}

/* Hover animation */
.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 17px rgba(255, 255, 255, 0.85);
  filter: brightness(1.05);
  z-index: 2;
  color: white;
  cursor: pointer;
}
