/* main styling for the site*/
html, body {
  height: 100%;
  background-image: url("../media/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer */
footer {
  margin-top: 30px;
}

/* app */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}