.custom-modal {
  border-radius: 16px;
  overflow: hidden;
  animation: pop 0.15s ease-out;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  border-color: rgb(130, 194, 193);
}

/* HEADER */
.custom-modal .modal-header {
  background-color: rgb(44, 44, 44);
  border-color:rgb(130, 194, 193);
  padding: 18px 20px;
  font-weight: 600;
}

/* BODY */
.custom-modal .modal-body {
  background-color: rgb(44, 44, 44);
  padding: 20px;
  font-size: 15px;
}

/* FOOTER */
.custom-modal .modal-footer {
   background-color: rgb(44, 44, 44);
  border-top: none;
  padding: 15px 20px;
  gap: 10px;
}

/* BUTTONS */
.custom-modal .btn {
  border-radius: 10px;
  padding: 8px 16px;
}

/* ANIMATION */
@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}