/* navbar styling */
.navbar {
  background-color: rgb(44, 44, 44);
}

.nav-link {
  color: rgb(1, 207, 180) !important;
  font-family: 'Nippo-Light';
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.815)!important;
  font-family: 'Nippo-Regular';
/* Cambria, Cochin */
}